# Where possible entries in this file should be upstreamed 
# into the standard defconfig and deleted once they are.

# Needed for compliance
CONFIG_ECRYPT_FS=y
CONFIG_BT=y

# Not strictly required for compliance but are helpful
CONFIG_INPUT_MISC=y
CONFIG_INPUT_UINPUT=y

# Workaround upstream Qt issue when value is >39.
# See https://bugreports.qt.io/browse/QTBUG-54822.
CONFIG_ARM64_VA_BITS_48=n
CONFIG_ARM64_VA_BITS_39=y
