[Unit]
Description=Weston Wayland Compositor
RequiresMountsFor=/run
After=dbus.service rc.pvr.service

[Service]
User=root
EnvironmentFile=-/etc/default/weston
ExecStart=/usr/bin/weston-launch -u root -- $OPTARGS

[Install]
WantedBy=multi-user.target
